.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: #739dcd;
    width: 100%;
}

.name{
    width: 50%;
    font-size: xx-large;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item{
    width: 10%;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: black;
}